@font-face { 
  font-family: "Soviet Font";
  src: url("../fonts/Soviet Font.woff2") format('woff2'),
       url("../fonts/Soviet Font.woff") format('woff'),
       url("../fonts/Soviet Font.ttf") format('truetype');
  font-style: normal;
  display: swap;
  font-weight: 400;
}

@font-face { 
  font-family: "TT Commons-Trial-Regular";
  src: url("../fonts/TT Commons-Trial-Regular.woff2") format('woff2'),
       url("../fonts/TT Commons-Trial-Regular.woff") format('woff'),
       url("../fonts/TT Commons-Trial-Regular.ttf") format('truetype');
  font-style: normal;
  display: swap;
  font-weight: 400;
}

@font-face { 
  font-family: "TT Commons-Trial-Italic";
  src: url("../fonts/TT Commons-Trial-Italic.woff2") format('woff2'),
       url("../fonts/TT Commons-Trial-Italic.woff") format('woff'),
       url("../fonts/TT Commons-Trial-Italic.ttf") format('truetype');
  font-style: normal;
  display: swap;
  font-weight: 400;
}


